{% load i18n %}
{% load static %}
{% load flatblock_xtd_tags %}

<!DOCTYPE html>
<html dir="ltr" lang="en">

  <head>
    <meta charset="utf-8" />
    <title>{% block title %}{{ config.title }}{% endblock %}</title>
    {% if settings.DEBUG %}<meta http-equiv="pragma" content="no-cache"/>{% endif %}
    <meta name="robots" content="index,follow">
    <meta name="author" content="{{ config.meta_author }}">
    <meta name="keywords" content="{{ config.meta_keywords }}">
    <meta name="description" content="{% block meta-description %}{{ config.meta_description }}{% endblock %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{% static 'dress_blog/themes/one/css/theme.css' %}" rel="Stylesheet">
    <style type="text/css">
      @media (min-width: 980px) {
        #bodice {
          padding-top: 60px;
        }
      }
    </style>

    {% block extracss %}{% endblock %}
    <script type="text/javascript" src="{% static 'dress_blog/themes/one/js/jquery-1.8.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'dress_blog/themes/one/js/bootstrap-collapse.js' %}"></script>
    <script type="text/javascript" src="{% static 'dress_blog/themes/one/js/bootstrap-alert.js' %}"></script>
    <script type="text/javascript" src="{% static 'dress_blog/themes/one/js/bootstrap-dropdown.js' %}"></script>
    {% block extrajs %}{% endblock %}
  </head>

  <body>
    <div id="dress">
      <div class="navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
	  <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </a>
	    <a href="{% url 'blog-index' %}" class="brand">{{ config.title }}</a>
	    <div class="nav-collapse">
	      <ul class="nav">
		{% block nav-stories %}<li><a href="{% url 'blog-story-list' %}"><span class="heydings-common-icon">D</span> {% trans "stories" %}</a></li>{% endblock %}
		{% block nav-quotes %}<li><a href="{% url 'blog-quote-list' %}"><span class="heydings-common-icon">B</span> {% trans "quotes" %}</a></li>{% endblock %}
		{% block nav-diary %}<li><a href="{% url 'blog-diary' %}"><span class="heydings-common-icon">T</span> {% trans "diary" %}</a></li>{% endblock %}
		{% block nav-comments %}<li><a href="{% url 'blog-comment-list' %}"><span class="heydings-common-icon">b</span> {% trans "comments" %}</a></li>{% endblock %}
		{% block nav-tags %}<li><a href="{% url 'blog-tag-list' %}"><span class="heydings-common-icon">t</span> {% trans "tags" %}</a></li>{% endblock %}
		{% block nav-blogroll %}<li><a href="{% url 'blog-blogroll' %}"><span class="heydings-control-icon">8</span> {% trans "blogroll" %}</a></li>{% endblock %}
	      </ul>
	      <ul class="nav pull-right">
		{% if user.is_authenticated %}
		<li class="divider-vertical"></li>
		{% block nav-admin %}<li class="dropdown">
		  <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="heydings-common-icon">A</span>&nbsp;{{ request.user.username }}&nbsp;<b class="caret"></b></a>
		  <ul class="dropdown-menu">
		    {% if request.session.unpublished_on %}
		    <li><a href="{% url 'blog-unpublished-off' %}?next={{ request.path }}">{% trans "Hide unpublished" %}</a></li>
		    {% else %}
		    <li><a href="{% url 'blog-unpublished-on' %}?next={{ request.path }}">{% trans "Show unpublished" %}</a></li>
		    {% endif %}
		  </ul>
		</li>{% endblock %}
		<li class="divider-vertical"></li>
		{% endif %}
		<li>{% block nav-search-form %}<form class="navbar-search pull-right" action="{% url 'haystack-search' %}" method="get"><input type="text" name="q" id="id_q" placeholder="{% trans 'Search' %}" class="search-query input-medium" /></form>{% endblock %}</li>
	      </ul>
	    </div>
	  </div>
	</div>
      </div>
      
      <div id="bodice">
	<div class="container mb30">
	  {% block content %}
	  {% endblock %}
	</div><!-- .row -->
      </div>
      
      <footer>
	<div class="container">
	  <div id="footer-wrapper"></div>
	  <div class="row">
	    <div class="footer-col span5 pull-left">
	      {% flatblock_xtd "footer-col-l" using "flatblocks/simplediv.html" %}
	    </div>
	    <div class="footer-col span5 pull-left">
	      {% flatblock_xtd "footer-col-r" using "flatblocks/simplediv.html" %}
	    </div>
	  </div><!-- .row -->
	</div><!-- .container -->
      </footer>
    </div><!-- #dress -->
  </body>
</html>
