{% extends "dress_blog/base.html" %}
{% load i18n inlines archive colloquial_date %}
{% load url from future %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}inline_media/css/inline_media.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}prettyphoto-3.1.3/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}dress_blog/themes/{{ dress_blog_config.theme }}/js/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}inline_media/js/inline_media.js"></script>
<script src="{{ STATIC_URL }}prettyphoto-3.1.3/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block nav-diary %}<li class="active"><a href="{% url 'blog-diary' %}"><span class="heydings-common-icon">T</span> {% trans "diary" %}</a></li>{% endblock %}

{% block content %}
<div id="diary" class="span12">
  <article>
    <header class="row">
      <div class="span2 tar">
	{% if previous_day %}<a href="{% url 'blog-diary-detail' previous_day|date:'Y' previous_day|date:'b' previous_day|date:'d' %}" title="{{ previous_day|date:'D, j F Y' }}" class="browse-symbol"><</a>{% else %}<span class="browse-symbol"><</span>{% endif %}
      </div>
      <div class="span8">
	<div class="hbox box-align-center box-pack-center">
	  <div class="symbol">T</div>
	  <div class="headline">{{ day|colloquial_date:"l, j F Y" }}</div>
	</div>
      </div>
      <div class="span2 tal">
	{% if next_day %}<a href="{% url 'blog-diary-detail' next_day|date:'Y' next_day|date:'b' next_day|date:'d' %}" title="{{ next_day|date:'D, j F Y' }}" class="browse-symbol">></a>{% else %}<span class="browse-symbol">></span>{% endif %}
      </div>
    </header>
    <section>
      <div class="row">
	<div id="diary-events" class="span8 offset2">
          <div class="diary-day">
            {% for detail in object.detail.published %}
            <section class="abstract">
  	      <div class="time">{% if dress_blog_config.show_author %}{{ detail.author.get_full_name }}&nbsp;{% trans "at" %}&nbsp;{% endif %}{{ detail.pub_date|date:"G:i" }}h&nbsp;</div>
	      <div class="detail clearfix">
		{{ detail.body_markup|render_inlines|safe }}
	      </div>
	      {% if detail.allow_comments %}
	      {% include "dress_blog/includes/comments_for_diary.html" %}
	      {% endif %}
	    </section>
	    {% endfor %}      
	  </div>
	</div>
      </div>
    </section>
  </article>
</div>
{% endblock %}
