{% extends "dress_blog/base.html" %}
{% load i18n archive diary comments_xtd %}
{% load url from future %}

{% block extracss %}
<link rel="stylesheet" href="{{ STATIC_URL }}inline_media/css/inline_media.css" type="text/css" media="screen" />
<link rel="stylesheet" href="{{ STATIC_URL }}prettyphoto-3.1.3/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="{{ STATIC_URL }}inline_media/js/inline_media.js"></script>
<script src="{{ STATIC_URL }}prettyphoto-3.1.3/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<div id="timeline" class="span6">
  {% if object_list %}
  {% for object in object_list %}
  {% if object.content_type.name == "story" %}
  {% include "dress_blog/includes/story_timeline.html" with object=object.story %}
  {% endif %}
  {% if object.content_type.name == "quote" %}
  {% include "dress_blog/includes/quote_timeline.html" with object=object.quote %}
  {% endif %}
  {% endfor %}
  {% else %}
  <h6>{% trans "no story nor quote yet" %}</h6>
  {% endif %}
  
  {% if is_paginated %}
  <ul class="pager">
    {% if page_obj.has_previous %}
    <li><a id="prev" href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a id="next" href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a></li>
    {% endif %}
  </ul>
  {% endif %}
</div>

<div class="span3">
  <div class="article-list">
    <H4>
      <span class="heydings-common-icon">T</span> {% trans "Latest in diary" %}
    </H4>
    {% get_latest_diary_days dress_blog_config.diary_entries_in_index as diary_items %}
    {% if diary_items %}
    {% for item in diary_items %}
    {% include "dress_blog/includes/diary_abstract.html" with object=item %}
    {% endfor %}
    <p>
      <a href="{% url 'blog-diary' %}">{% trans "Read the diary" %}</a>
    </p>
    {% else %}
    <p>{% trans "no entry yet" %}</p>
    {% endif %}
  </div>
</div>

<div class="span3">
  {% include "dress_blog/includes/admin_block.html" %}
  
  {% get_xtdcomment_count as comment_count for dress_blog.story dress_blog.quote dress_blog.diarydetail %}
  {% if comment_count %}
  <div class="well">
    <H5><span class="heydings-common-icon">b</span>&nbsp;&nbsp;{% trans "Latest comments" %}</H5>
    {% render_last_xtdcomments dress_blog_config.comments_in_index for dress_blog.story dress_blog.quote dress_blog.diarydetail using "comments/dress_blog/comment_mini.html" %}
    <p>
      <a href="{% url 'blog-comment-list' %}">{% trans "more" %}</a>
    </p>
  </div>
  {% endif %}

  {% get_popular_posts 3 as popular_stories for dress_blog.story %}
  {% if popular_stories %}
  <H4><span class="heydings-common-icon">D</span>&nbsp;{% trans "Popular stories" %}</H4>
  <ul>
    {% for post in popular_stories %}
    <li><a href="{{ post.story.get_absolute_url }}">{{ post.story.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  {% get_popular_posts 3 as popular_quotes for dress_blog.quote %}
  {% if popular_quotes %}
  <H4><span class="heydings-common-icon">B</span>&nbsp;{% trans "Popular quotes" %}</H4>
  <ul>
    {% for post in popular_quotes %}
    <li><a href="{{ post.quote.get_absolute_url }}">{{ post.quote.title }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}
  
  <div>
    {% include "dress_blog/includes/subscribe_block.html" %}
  </div>
</div>
{% endblock %}
