{% extends "dress_blog/base.html" %}
{% load i18n %}
{% load posts %}
{% load inlines %}
{% load comments %}
{% load taggit_templatetags2_tags %}

{% block meta-description %}{{ object.abstract|parse_commonmark|render_inlines|safe|striptags }}{% endblock %}

{% block nav-stories %}<li class="active"><a href="{% url 'blog-story-list' %}"><span class="heydings-common-icon">D</span> {% trans "stories" %}</a></li>{% endblock %}

{% block content %}
{% get_comment_count for object as comment_count %}
{% get_tags_for_object object as tag_list %}
<div id="post-header" class="mt15 row">
  <div class="span10 offset1">
    <div class="vbox box-align-start box-pack-start">
      {% if config.show_author %}
      <div class="headline">{{ object.title }}</div>
      <div class="post-author mb5">{% trans "by" %}&nbsp;{{ object.author.get_full_name }}</div>
      {% else %}
      <div class="headline mb5">{{ object.title }}</div>
      {% endif %}
      <div class="datepub">
	{{ object.pub_date|date:"l, d F Y" }}&nbsp;&nbsp;&bull;&nbsp;&nbsp;<a href="#comments">{{ comment_count }}&nbsp;{% trans "comment" %}{{ comment_count|pluralize }}</a>
      </div>
      {% if tag_list %}
      <div class="subline">
	<span class="heydings-common-icon">t</span>&nbsp;{% for tag in tag_list %}<a href="{% url 'blog-tag-detail' tag %}" class="label label-info">{{ tag }}</a>{% if not forloop.last %}&nbsp;{% endif %}{% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="mt15 row clearfix">
  <div class="span12">
    <div class="neck 
		{% if object.status == 1 %}draftbg{% else %}
		{% if object.status == 2 %}reviewbg{% else %}
		{% if object.in_the_future %}upcomingbg{% endif %}{% endif %}{% endif %}">
      <div class="onecol">
	    {{ object.body|parse_commonmark|render_inlines|safe }}
      </div>
    </div>
  </div>
</div>

{% if object.status > 2 and not object.in_the_future %}
<div class="row mt15">
  <div class="span10 offset1">
    {% include "dress_blog/includes/comments_for_object.html" with comment_count=comment_count %}
  </div>
</div>
{% endif %}
{% endblock %}
