{% extends "dress_blog/base.html" %}
{% load i18n %}
{% load taggit_templatetags2_tags %}

{% block nav-tags %}<li class="active"><a href="{% url 'blog-tag-list' %}"><span class="heydings-common-icon">t</span> {% trans "tags" %}</a></li>{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <H2 class="bb mb30 tac">{% trans "Story Tags" %}</H2>

    {% get_tagcloud as tags_for_stories for 'dress_blog.Story' %}
    <div class="tagcloud clearfix">
      {% for tag in tags_for_stories %}
      <a href="{% url 'blog-tag-detail' tag %}" class="label label-info tagcloud-fs{{ tag.weight }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
  
  <div class="span4">
    <H2 class="bb mb30 tac">{% trans "Quote Tags" %}</H2>
    
    {% get_tagcloud as tags_for_quotes for 'dress_blog.Quote' %}
    <div class="tagcloud clearfix">
      {% for tag in tags_for_quotes %}
      <a href="{% url 'blog-tag-detail' tag %}"  class="label label-info tagcloud-fs{{ tag.weight }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
  
  <div class="span4">
    <H2 class="bb mb30 tac">{% trans "Diary entry Tags" %}</H2>
    
    {% get_tagcloud as tags_for_diary for 'dress_blog.DiaryDetail' %}
    <div class="tagcloud clearfix">
      {% for tag in tags_for_diary %}
      <a href="{% url 'blog-tag-detail' tag %}" class="label label-info tagcloud-fs{{ tag.weight }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
