{% extends "dress_blog/base.html" %}
{% load i18n highlight tagging_tags comments %}
{% load url from future %}

{% block nav-search-form %}<form class="navbar-search pull-right" action="{% url 'haystack-search' %}" method="get">{% for field in form %}{% ifequal field.name "q" %}<input type="text" name="q" id="id_q" placeholder="{% trans 'Search' %}" class="search-query input-medium" value="{{ field.value }}" />{% endifequal %}{% endfor %}</form>{% endblock %}

{% block content %}
<div class="row">
  <div class="span10 offset1 bb mb30">
    <div class="row">
      <H1 class="span8 offset1">
	<span class="heydings-common-icon">M</span>&nbsp;&nbsp;{% trans "Search results for" %}:&nbsp;&nbsp;<span class="tag">{% if query %}{{ query }}{% else %}...{% endif %}</span>
      </H1>
    </div>
  </div>
</div>

<div id="search">
  <article>
    <section>
      {% if query %}
      {% for result in page.object_list %}
      {% tags_for_object result.object as tag_list %}
      {% get_comment_count for result.object as comment_count %}
      <article class="search-result in2col">
	<header class="hbox box-align-center box-pack-start">
	  {% if result.model_name == "story" %}
	  {% include "search/includes/story_headline.html" with object=result.object %}
	  {% endif %}
	  {% if result.model_name == "quote" %}
	  {% include "search/includes/quote_headline.html" with object=result.object %}
	  {% endif %}
	  {% if result.model_name == "diarydetail" %}
	  {% include "search/includes/diarydetail_headline.html" with object=result.object %}
	  {% endif %}
	</header>
	<div class="search-text">{% highlight result.text with query %}</div>
      </article>
      {% empty %}
      <p>No results found.</p>
      {% endfor %}
  
      {% if page.has_previous or page.has_next %}
      <ul class="pager">
	{% if page.has_previous %}
	<li><a id="prev" href="?q={{ query }}&page={{ page.previous_page_number }}">{% trans "previous" %}</a></li>
	{% endif %}
	{% if page.has_next %}
	<li><a id="next" href="?q={{ query }}&page={{ page.next_page_number }}">{% trans "next" %}</a></li>
	{% endif %}
      </ul>
      {% endif %}

      {% else %}
      <p>{% trans "Show some example queries to run, maybe query syntax, something else?" %}</p>
      {% endif %}
    </section>
  </article>
</div>
{% endblock %}
