{% load i18n comments %}

<div id="comments"> 
  <a name="comments"></a>
  {% if object.allow_comments %}
  <p id="show-form" class="tac">
    <a class="btn" id="post-comment"><span class="heydings-icon">w</span>&nbsp;{% trans "send your comment" %}</a>
  </p>
  <div class="comment-form hide clearfix">
    {% render_comment_form for object %}
  </div>
  {% else %}
  <h4 class="center">{% trans "comments are disabled for this post" %}</h4>
  {% endif %}

  {% if comment_count %}
  <div class="comment-list">
    {% render_comment_list for object %}
  </div>
  {% endif %}
</div>
