{% load i18n comments inlines tagging_tags %}
{% load url from future %}

{% get_comment_count for object as comment_count %}
{% tags_for_object object as tag_list %}
<article class="{% if object.status = 1 %}draftbg{% else %}{% if object.in_the_future %}upcomingbg{% endif %}{% endif %}">
  <header class="hbox box-align-start box-pack-start">
    <hgroup class="date">
      <div class="day">{{ object.pub_date|date:"d" }}</div>
      <div class="month">{{ object.pub_date|date:"M" }}</div>
    </hgroup>
    <!-- <div class="big-heydings-common-icon">B</div> -->
    <div class="title">
      <div class="headline"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
      <div class="subline">
	{% if dress_blog_config.show_author %}
	<span class="mini-author">{% trans "by" %}&nbsp;{{ object.author.get_full_name }}</span>
	{% if tag_list %}&nbsp;&bull;&nbsp;{% endif %}
	{% endif %}
	{% if tag_list %}<span class="heydings-common-icon">t</span> 
	{% for tag in tag_list %}
	<a href="{% url 'blog-tag-detail' tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
	{% endfor %}
	{% endif %}
	{% if comment_count %}&nbsp;&bull;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}{% endif %}
      </div>	
    </div>
  </header>
  <section class="abstract">
    <div class="text">
      {{ object.body_markup|render_inlines|safe|truncatewords_html:50 }}
    </div>
  </section>
</article>

