{% load i18n %}
{% load comments %}
{% load inlines &}
{% load taggit_templatetags2_tags %}

{% get_comment_count for object as comment_count %}
<article class="{% if article_class %}{{ article_class }} {% endif %}
		{% if object.status == 1 %}draftbg{% else %}
		{% if object.status == 2 %}reviewbg{% else %}
		{% if object.in_the_future %}upcomingbg{% endif %}{% endif %}{% endif %}">
  <header class="hbox box-align-start box-pack-start">
    <div class="big-heydings-common-icon">B</div>
    <div class="title">
      <div class="headline"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
      <div class="subline">
	{% if object.tags %}<span class="heydings-common-icon">t</span> 
	{% for tag in object.tags %}
	<a href="{% url 'blog-tag-detail' tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
	{% endfor %}
	{% endif %}
	{% if comment_count %}&nbsp;&bull;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}{% endif %}
      </div>
    </div>
  </header>

  <section class="abstract">
    {% if truncate_to %}
    {{ object.body|parse_commonmark|render_inlines|safe|truncatewords_html:truncate_to }}
    {% else %}
    {{ object.body|parse_commonmark|render_inlines|safe }}
    {% endif %}
  </section>
</article>
