{% load i18n %}
{% load archive %}
{% load taggit_templatetags2_tags %}

{% get_quote_archive as dates %}
{% if dates %}
<H4>
  <span class="heydings-common-icon">5</span>&nbsp;{% trans "Archive" %}
</H4>
<UL>
  {% for date in dates %}
  <li>
    <a href="{% url 'blog-quote-archive-month' date|date:'Y' date|date:'m' %}" 
       title="{{ date|date:'F Y' }}">{{ date|date:"F Y" }}</a>
  </li>
  {% endfor %}
</UL>
{% endif %}

{% get_taglist as tag_list for 'dress_blog.Quote' %}
{% if tag_list %}
<H4>
  <span class="heydings-common-icon">t</span>&nbsp;{% trans "Tags" %}
</H4>
<UL>
  {% for tag in tag_list %}
  <li>
    <a href="{% url 'blog-tag-detail' tag %}">{{ tag }} ({{ tag.num_times }})</a>
  </li>    
  {% endfor %}
</UL>
{% endif %}

<div>
  {% include "dress_blog/includes/subscribe_block.html" %}
</div>
