{% load i18n comments inlines tagging_tags %}
{% load url from future %}

{% get_comment_count for object as comment_count %}
{% tags_for_object object as tag_list %}
<article {% if article_class %}class="{{ article_class }}"{% endif %}>
  <header class="hbox box-align-start box-pack-start">
    <div class="big-heydings-icon">B</div>
    <div class="title">
      <div class="headline"><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></div>
      <div class="subline">
	{% if tag_list %}<span class="heydings-icon">t</span> 
	{% for tag in tag_list %}
	<a href="{% url 'blog-tag-detail' tag %}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
	{% endfor %}
	{% endif %}
	{% if comment_count %}&nbsp;&bull;&nbsp;{{ comment_count }} comment{{ comment_count|pluralize }}{% endif %}
      </div>
    </div>
  </header>

  <section class="abstract">
    {{ object.body_markup|render_inlines|safe }}
  </section>
</article>
